div.bookmark{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 29px 0px rgba(255, 255, 255, 0.12);
    border-radius: 30px;
    position: absolute;
    top: 40px;
    left: 40px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.bookmark:hover{
    box-shadow: 8px 8px 29px 0px rgba(255, 255, 255, 0.856);
}
div.bookmark>a>img{
    width: 70px;
}

@media (max-width: 768px) {
    div.bookmark{
    width: 80px;
    height: 80px;
    }
}
