input[type="text"],
input[type="email"],
input[type="number"]
{
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
}
.error{
    color: red;
    font-size: 18px;
}
h2{
    margin-top: 20px;
    font-size: 28px;
}
.user-data-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    display: block;
    background-color: white;
    color: rgb(0, 144, 240);;
    padding: 10px 20px;
    border: 1px solid rgb(131, 197, 241);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    width: 250px;
    text-align: center;
    margin: 50px;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(131, 197, 241);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
}
div.success-add{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 350px;
    height: 70px;
    background-color: #717171d6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    opacity: 0;
    transition: 1s;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    color: white;
}
div.success-add>img{
    width: 40px;
}
div.success-add>p{
    font-size: 18px;
}