div.success-add{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 350px;
    height: 70px;
    background-color: #717171d6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    opacity: 0;
    transition: 1s;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    color: white;
}
div.success-add>img{
    width: 40px;
}
div.success-add>p{
    font-size: 18px;
}
div.favourite-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
a.link-to-item{
    width: 100%;
    height: 150px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
.favourite-item{
    width: 250px;
    height: 250px;
    margin: 20px;
    box-shadow: 8px 4px 24px -4px rgba(66, 68, 90, 1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.image{
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
h2{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.delete-item{
    width: 80%;
    height:  30px;
    background-color: rgb(252, 72, 99);
    font-size: 18px;
    color: white;
    border-radius: 10px;
}
.delete-item:hover{
    background-color:rgb(254, 130, 149);
}