.product-page{
    margin-top: 20px;
    width: 70vw;
    height: 70vh;
    box-shadow: 9px 7px 24px -11px rgba(66, 68, 90, 1);
    display: flex;
}
.left-side{
    width: 50%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.header{
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-weight: bold;
}
h1.title{
    font-size: 28px;
}
p.price{
    font-size: 20px;
}
p.custom-info{
    text-align: center;
    width: 100%;
}
div.center{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button.add-to-card{
    border: 1px solid #007bff;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    color: #007bff;
}
div.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
    margin-left: 15px;
}
div.desc>h3{
    font-size: 20px;
    font-weight: bold;
}
div.desc>h3.cat{
    margin-top: 20px;
}
p.cutsom-info{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}
select{
    width: 150px;
    height: 30px;
    border: 1px solid #007bff;
    border-radius: 10px;
}