div.select-tables{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(131, 197, 241, 0.582);
    font-size: 18px;
}
div.select-table{
    width: calc(100%/3);
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.tag{
  border-left: 1px solid rgba(131, 197, 241, 0.582);
  border-right: 1px solid rgba(131, 197, 241, 0.582);
}
.product{
    border-top-left-radius: 30px;
}
.category{
    border-top-right-radius: 30px;
}
div.select-table:hover{
    background-color: rgba(131, 197, 241, 0.582);
    cursor: pointer;
}
table.table{
    width: 100%;
    height: calc(100% - 50px);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-collapse: collapse;
    overflow: scroll;
    scrollbar-width: none;
}
table.table::-webkit-scrollbar {
    display: none;
  }
table.product-table{
    display: none;
}
table.tag-table{
    display: none;
}
table.category-table{
    display: none;
}
table.category-table>thead>th>td,table.category-table>tbody>tr>td{
    width: calc(100%/5);
    text-align: center;
}
table.tag-table>thead>th>td,table.tag-table>tbody>tr>td{
    width: calc(100%/5);
    text-align: center;
}
table.product-table>thead>th>td,table.product-table>tbody>tr>td{
    width: calc(100%/5);
    text-align: center;
}
th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 8px;
  }
tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
tr:hover {
    background-color: #ddd;
  }
td {
    padding: 8px;
  }
td:first-child {
    font-weight: bold;
  }
div.add-element{
    position: absolute;
    background-color: white;
    width: 70px;
    height: 70px;
    right: -10%;
    bottom: 1%;
    border-radius: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 1s;
    font-size: 50px;
    cursor: pointer;
}
.add-panel{
    display: none;
    width: 400px;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 200px);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
input[type="text"]{
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}
input[type="submit"]{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
input[type="submit"]:hover {
    background-color: rgb(131, 197, 241);
}
.error-alert{
    color: red;
    font-size: 18px;
}