.shopping-cart-page{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-name-scp{
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.delete-product{
    border: 1px solid rgb(248, 60, 60);
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}
.delete-product:hover{
    background-color: rgb(248, 60, 60);
}
.ic-scp{
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}