.shopping-cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    padding-bottom: 100px;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: -6px 13px 26px 0px rgba(66, 68, 90, 1);
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    overflow: scroll;
}
.shopping-cart::-webkit-scrollbar{
    display: none;
}
.x{
    position: absolute;
    top: 5px;
    right: 10px;
}
h1{
    margin-top: 10px;
    font-size: 24px;
}
.go-to-delivery{
    width: 200px;
    height: 50px;
    padding: 5px;
    background-color: #007bff;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    color: white;
    transition: .5s;
    margin-top: 20px;
}
.go-to-delivery:hover{
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
}
div.container{
    margin-top: 10px;
    height: 150px;
    width: 300px;
}
h2.product-name{
    font-size: 20px;
    font-weight: bold;
}
div.center-container{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
div.image{
    width: 50%;
    height: 100%;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}