div.side-panel{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 20vw;
    height: 90vh;
    background-color: white;
    /* box-shadow: 8px 1px 42px -8px rgba(255, 255, 255, 0.59); */
    border-radius: 30px;

}
div.title-shop{
    margin: 20px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

div.side-panel>div.title-shop>img{
    width: 65px;
}
div.side-panel>div.title-shop>p{
    font-size: 24px;
    font-weight: 900;
    margin-left: 20px;
}
div.main-panel,div.manage-panel{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.main-panel>a,div.manage-panel>a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 18px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
div.main-panel>a:hover,div.manage-panel>a:hover{
    background-color: rgba(131, 197, 241, 0.582);
    color: white;
}
