.glide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.glide__track{
    width: 100vw;
}
.glide__slide{
    display: block;
    width: 100%;
    height: calc(100vh - 100px);
    background-position: center;
    background-size: 100%;
}
.slide1{
    background-image: url("../images/1.jpg");
}
.slide2{
    background-image: url("../images/2.jpg");
}
.slide3{
    background-image: url("../images/3.jpg");
}