body{
    background-color: rgb(131, 197, 241);
}
h1.page-title{
    position: absolute;
    top: 30px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
div.summary-container{
    margin-top: 200px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.simple-block{
    width: 700px;
    height: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
div.delivery,div.payment{
    height: 180px;
}
.supplier,.payment-data-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.supplier>span>a,.payment-data-element>span>a{
    text-decoration: none;
    color: rgb(131, 197, 241);
    font-weight: bold;
}
div.address-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.address-data-element{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}
div.shop-cart{
    height: auto;
    padding-bottom: 20px;
}
div.shop-cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
div.shop-cart-item{
    margin-top: 5px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
}
div.image{
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
div.element-information{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.right-side{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
span.amount{
    color: grey;
    font-size: 14px;
}
.summary{
    height: 300px;
}
.summary{
    width: 700px;
    height: 350px;
    margin: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.summary>div.cart-value{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.total-value{
    font-size: 20px;
}
.buy-and-pay{
    margin-top: 10px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
}
.dash{
    border-top: 2px dashed black;
    padding-top: 15px;
}
.buy-and-pay:hover{
    background-color: #007bff;
    color: #fff;
}


.payment-modal{
    top: 0;
    left: 0;
    width: 400px;
    height: 600px;
    position: fixed;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cash-on-delivery{
    height: 200px;
    top: calc(50% - 100px);
    left:  calc(50% - 200px);
}
.cash-on-delivery>p{
    font-size: 20px;
}
.finish-shopping{
    margin-top: 10px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
}
.finish-shopping:hover{
    background-color: #007bff;
    color: #fff;
}