body{
    background-color: rgb(131, 197, 241);
}
h1.page-title{
    position: absolute;
    top: 30px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
div.summary-container{
    margin-top: 200px;
    width: 100vw;
    height: 1700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.simple-block{
    width: 500px;
    height: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
div.delivery{
    height: 180px;
}
.supplier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.supplier>span>a{
    text-decoration: none;
    color: rgb(131, 197, 241);
    font-weight: bold;
}
div.address-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.address-data-element{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}